html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#instructions {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    pointer-events: none;
    user-select: none;
}

